 
{% csrf_token %}
{{custids.desc}}

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>details</title>
</head>
<body>
    <div align="center">
        <img style="width: 200px;height:150px;" src="{{custids.img.url}}">
    </div>
    <div align="center">
        <h1>{{custids.name}}</h1>
    </div>
    <div>
        <div>
            <p class="grey-text text darken-3 lighten-3 mt-5" style="text-align: justify;font-size: 18px">{{custids.desc|safe}}</p>;
        </div>
    </div>
</body>
</html> -->